<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li ><a href="/admin">Movies in database</a></li>
                <li ><a href="/adminMovies">Add Movies</a></li>
                <li><a href="/showArtists">Artists in Database</a></li>
                <li ><a href="/addArtists">Add Artists in Database</a></li>
                <li ><a href="/adminGenre">Genres in Database</a></li>
                <li><a href="/adminMovieGenre">Link Movies with Genres </a></li>
                <li><a href="/adminMovieArtist">Link Movies with Artists</a></li>
    
            </ul>
        </div>
        <!-- <div>
            <form action="/search" method="get">
                <input type="text" placeholder="Search Movies" name="Movies">
                <button type="submit">Go</button>
            </form>
        </div> -->
        <div>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <div>
        <h1>Add Artists</h1>
        <form action="/addArtists" method="post">
            <label for="artistName">Artist Name : </label>
            <input type="text" name="artistName" id="" required>
            <label for="role">Artist Profession</label>
            <input type="text" name="role" id="" required>
            <label for="artistGender">Artist Gender</label>
            <input type="text" name="artistGender" id="" required>
            <button type="submit">Go</button>

        </form>
    </div>
    <% if (locals.message){ %>
        <script>
            alert("<%=message%>");
        </script>
    <% } %>

    
</body>
</html>