<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <h1>home</h1>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li href="/home">Home</li>
                <li href="/watchlist">Watchlist</li>
                <li href="/reviews">Reviews</li>

            </ul>
        </div>
        <div>
            <form action="/search">
                <input type="text" placeholder="Search Movies">
                <button type="submit">Go</button>
            </form>
        </div>
    </nav>
    <div>
        <h2>Movies Watched</h2>
        <ul>
            <% if (locals.ReviewedMovies && locals.ReviewedMovies.length>0){ %>
                <% ReviewedMovies.forEach(Movie => { %>
                    <li><img src="<%= Movie.MOVIE_IMAGE_URL%>" alt=""> <%= Movie.TITLE %> </li>
                    
                <% });  %>
                <% } else{ %>
                    <p>No Movie Reviewed</p>
                <% } %>
        </ul>        
    </div>
    <div>
        <h2>Watchlist</h2>
        <ul>
            <% if(locals.WatchlistMovies && locals.WatchlistMovies.length>0){ %>
                <% WatchlistMovies.forEach(Movie =>{ %>
                    <li><img src="<%= Movie.MOVIE_IMAGE_URL %>" alt=""> <%= Movie.TITLE %></li>
                <% }); %>
                <% } else{ %>
                    <p>No Movies in Watchlist</p>
                <% } %>
        </ul>
        
    </div>
    
</body>
</html>