<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style src="styles.css"></style>
</head>
<body>
    <h1>Login Page</h1>
    <form action="/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="text" name="password">

            <button type="submit">submit</button>


    </form>  
    <a href="/register">Not Registered?</a>
    <a href="/adminRegister">Administrator?</a>
</body>
</html>