<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists In DB</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li ><a href="/admin">Movies in database</a></li>
                <li ><a href="/adminMovies">Add Movies</a></li>
                <li><a href="/showArtists">Artists in Database</a></li>
                <li ><a href="/addArtists">Add Artists in Database</a></li>
                <li ><a href="/adminGenre">Genres in Database</a></li>
                <li><a href="/adminMovieGenre">Link Movies with Genres </a></li>
                <li><a href="/adminMovieArtist">Link Movies with Artists</a></li>
    
            </ul>
        </div>
        <!-- <div>
            <form action="/search" method="get">
                <input type="text" placeholder="Search Movies" name="Movies">
                <button type="submit">Go</button>
            </form>
        </div> -->
        <div>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <div>
        <h1>Artists in Database</h1>
        <div>
            <% if (locals.artistsInDB && locals.artistsInDB.length>0){ %>
                <table>
                    <thead>
                        <tr>
                            <th>Artist ID </th>
                            <th>Artist Name </th>
                            <th>Gender</th>
                            <th>Profession</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% artistsInDB.forEach(artist =>{ %>
                            <tr>
                                <td><%= artist.ARTIST_ID %></td>
                                <td><%= artist.ARTIST_NAME %></td>
                                <td><%= artist.GENDER %></td>
                                <td><%= artist.ROLE %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <p>No Artists in the Database currently</p>
            <% } %>
        </div>
    </div>
    
</body>
</html>