<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists In DB</title>
    <link rel="stylesheet" href="showArtists.css">
</head>
<body>
    <div id="nav">
        <a href="/home">Home</a>
        <a href="/watchlist">WatchList</a>
        <a href="/completed">Completed</a>
        <a href="/reviews">Reviews</a>
        <a href="/community">Community</a>
        <form id='search' action="/search">
            <input type="text" placeholder="Search Movies">
            <button type="submit">Go</button>
        </form>
        <form id="login" action="/logout" method="post">
            <button id="loginbuttton" type="submit">Logout</button>
        </form>        
    </div>
    <div id="main">
    <div id="artist">
        <h1>Artists in Database</h1>
        <div id="table">
            <% if (locals.artistsInDB && locals.artistsInDB.length>0){ %>
                <table>
                    <thead>
                        <tr>
                            <th>Artist ID </th>
                            <th>Artist Name </th>
                            <th>Gender</th>
                            <th>Profession</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% artistsInDB.forEach(artist =>{ %>
                            <tr>
                                <td><%= artist.ARTIST_ID %></td>
                                <td><%= artist.ARTIST_NAME %></td>
                                <td><%= artist.GENDER %></td>
                                <td><%= artist.ROLE %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <p>No Artists in the Database currently</p>
            <% } %>
        </div>
    </div>
   </div> 
</body>
</html>